<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://w7.pngwing.com/pngs/6/979/png-transparent-spring-framework-computer-icons-spring-web-flow-java-advancement-leaf-logo-grass-thumbnail.png">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <b><span th:text="${currentUser.username}"></span></b>
            with roles:
            <tr th:each="role: ${currentUser.getAuthorities()}">
                <td th:text="${role.authority}"></td>
            </tr>
        </div>
        <form class="d-flex" th:action="@{/logout}" method="post">
            <input class="btn btn-dark text-secondary" type="submit" value="Logout">
        </form>
    </div>
</nav>
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills col-sm-2 col-md-2 col-lg-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <br>
        <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
        <a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
    </div>

<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <div class="col-md-2" style="margin-top: 15px">-->
<!--            <th:block th:include="menuPage">Menu</th:block>-->
<!--        </div>-->

<!--        <div class="col-md-10" style="background-color: rgba(21,44,51,0.13); background-size: 100%; height: 1170px; min-width: 1366px">-->
<!--            <div style="margin-top: 15px">-->
<!--            <h2 class="font-weight-bold">Admin panel</h2>-->
        <div class="tab-content bg-light container-fluid h-100 d-inline-block" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel">
                <div class="container-fluid" style="height:1000px">
                    <br>
                    <h1><b>Admin panel</b></h1>

                <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" data-toggle="tab" role="tab" href="#nav-users" aria-controls="nav-users" aria-selected="true">Users table</a>
                    <a class="nav-link" data-toggle="tab" role="tab" href="#nav-new-user" aria-controls="nav-new-user" aria-selected="false">New User</a>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">

                <div class="card">
                    <div class="card-header">
                        <h5>All users</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${allUsers}">
                                <td th:utext="${user.id}">Id</td>
                                <td th:utext="${user.name}">First Name</td>
                                <td th:utext="${user.surname}">Last Name</td>
                                <td th:utext="${user.age}">Age</td>
                                <td th:utext="${user.email}">Email</td>
                                <td>
                                    <div th:each="role : ${user.roleSet}">
                                        <span th:if="(${role.name} == 'ADMIN')" th:utext="ADMIN"></span>
                                        <span th:if="(${role.name} == 'USER')" th:utext="USER"></span>
                                    </div>
                                </td>

                                    <td>
                                        <form th:method="POST" th:action="@{/admin/editUser}" th:object="${user}">
                                            <button type="button" class="btn btn-info text-white btn-sm" data-toggle="modal" th:data-target="${'#updateUser'+user.id}">Edit</button>
                                        <div class="modal fade" th:id="${'updateUser'+user.id}" tabindex="-1" aria-hidden="true" aria-labelledby="editUserModalLabel">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-tittle"><b>Edit user</b></h4>
                                                        <button class="close" data-dismiss="modal">x</button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <h5><b>ID</b></h5>
                                                        <div class="row justify-content-center">
                                                            <div class="col-6">
                                                                <input type="text" class="form-control form-control-sm" name="id" th:id="id" th:value="${user.id}" disabled>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h5><b>First Name</b></h5>
                                                        <div class="row justify-content-center">
                                                            <div class="col-6">
                                                                <input type="text" class="form-control form-control-sm" name="name" th:id="name" th:value="${user.name}">
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h5><b>Last Name</b></h5>
                                                        <div class="row justify-content-center">
                                                            <div class="col-6">
                                                                <input type="text" class="form-control form-control-sm" name="surname" th:id="surname" th:value="${user.surname}">
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h5><b>Age</b></h5>
                                                        <div class="row justify-content-center">
                                                            <div class="col-6">
                                                                <input type="text" class="form-control form-control-sm" name="age" th:id="age" th:value="${user.age}">
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h5><b>Email</b></h5>
                                                        <div class="row justify-content-center">
                                                            <div class="col-6">
                                                                <input type="text" class="form-control form-control-sm" name="email" th:id="email" th:value="${user.email}">
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h5><b>Password</b></h5>
                                                        <div class="row justify-content-center">
                                                            <div class="col-6">
                                                                <input type="text" class="form-control form-control-sm" name="password" th:id="password" th:value="${user.password}">
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h5><b>Role</b></h5>
                                                        <div class="row justify-content-center">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                        <select class="custom-select" multiple size="2" required>
    <!--                                                                        <option th:checked="roleAdmin"-->
    <!--                                                                                th:value="1"-->
    <!--                                                                                th:utext="ADMIN">-->
    <!--                                                                        </option>-->
    <!--                                                                        <option th:checked="roleUser"-->
    <!--                                                                                th:value="2"-->
    <!--                                                                                th:utext="USER">-->
    <!--                                                                        </option>-->
                                                                            <option th:each="role : ${allRoles}"
                                                                                    th:value="${role.id}"
                                                                                    th:text="${role.name}"></option>
                                                                        </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary" name="id" th:value="*{id}">Edit</button>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" th:data-target="${'#deleteUser'+user.id}">Delete</button>
                                </td>
                                <div class="modal fade" th:id="${'deleteUser'+user.id}" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-tittle" id="deleteUserModalLabel"><b>Delete User</b></h4>
                                                <button type="button" class="btn-close" data-dismiss="modal">x</button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <h5><b>ID</b></h5>
                                                <div class="row justify-content-center">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control form-control-sm" th:value="${user.id}" disabled>
                                                    </div>
                                                </div>
                                                <br>
                                                <h5><b>First name</b></h5>
                                                <div class="row justify-content-center">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control form-control-sm" th:value="${user.name}" disabled>
                                                    </div>
                                                </div>
                                                <br>
                                                <h5><b>Last name</b></h5>
                                                <div class="row justify-content-center">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control form-control-sm" th:value="${user.surname}" disabled>
                                                    </div>
                                                </div>
                                                <br>
                                                <h5><b>Age</b></h5>
                                                <div class="row justify-content-center">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control form-control-sm" th:value="${user.age}" disabled>
                                                    </div>
                                                </div>
                                                <br>
                                                <h5><b>Email</b></h5>
                                                <div class="row justify-content-center">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control form-control-sm" th:value="${user.email}" disabled>
                                                    </div>
                                                </div>
                                                <br>
                                                <h5><b>Role</b></h5>
                                                <div class="row justify-content-center">
                                                    <div class="col-6">
                                                        <label>
                                                            <select class="form-select from-select-sm" multiple size="2" disabled>
    <!--                                                            <option th:checked="roleAdmin"-->
    <!--                                                                    th:value="1"-->
    <!--                                                                    th:utext="ADMIN">-->
    <!--                                                            </option>-->
    <!--                                                            <option th:checked="roleUser"-->
    <!--                                                                    th:value="2"-->
    <!--                                                                    th:utext="USER">-->
    <!--                                                            </option>-->
                                                                <option th:each="role : ${allRoles}"
                                                                        th:value="${role.id}"
                                                                        th:text="${role.name}"></option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <form th:action="@{/admin/deleteUser}">
                                                    <button type="submit" class="btn btn-danger" th:name="userId" th:value="${user.id}">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
                    <div class="tab-pane fade" id="nav-new-user" role="tabpanel" aria-labelledby="nav-new-user-tab">
                        <div class="card">
                            <div class="card-header"><h4>Add new user</h4></div>
                            <div class="card-body text-center">
                                <form th:action="@{/admin/saveUser}" method="post" th:object="${newUser}">
                                    <h5><b>First name</b></h5>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <label>
                                                <input type="text" class="form-control form-control-sm" name="name" placeholder="First name">
                                            </label>
                                        </div>
                                    </div>
                                    <br>
                                    <h5><b>Last name</b></h5>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <label>
                                                <input type="text" class="form-control form-control-sm" name="surname" placeholder="Last name">
                                            </label>
                                        </div>
                                    </div>
                                    <br>
                                    <h5><b>Age</b></h5>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <label>
                                                <input type="text" class="form-control form-control-sm" name="age" placeholder="Age">
                                            </label>
                                        </div>
                                    </div>
                                    <br>
                                    <h5><b>Email</b></h5>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <label>
                                                <input type="text" class="form-control form-control-sm" name="email" placeholder="Email">
                                            </label>
                                        </div>
                                    </div>
                                    <br>
                                    <h5><b>Password</b></h5>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <label>
                                                <input type="text" class="form-control form-control-sm" name="password" placeholder="Password">
                                            </label>
                                        </div>
                                    </div>
                                    <br>
                                    <h5><b>Role</b></h5>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <label>
                                                <select class="form-select from-select-sm" multiple size="2">
<!--                                                    <option th:checked="roleAdmin"-->
<!--                                                            th:value="1"-->
<!--                                                            th:utext="ADMIN">-->
<!--                                                    </option>-->
<!--                                                    <option th:checked="roleUser"-->
<!--                                                            th:value="2"-->
<!--                                                            th:utext="USER">-->
<!--                                                    </option>-->
                                                    <option th:each="role : ${allRoles}"
                                                            th:value="${role.id}"
                                                            th:text="${role.name}"></option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-lg btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>

        </div>

                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <div class="container-fluid" style="height:1000px">
                    <br>
                    <h1><b>User information-page</b></h1>
                    <div class="card">
                        <div class="card-header"><h4>About user</h4></div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead class="border-top">
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:utext="${currentUser.id}"></td>
                                    <td th:utext="${currentUser.name}"></td>
                                    <td th:utext="${currentUser.surname}"></td>
                                    <td th:utext="${currentUser.age}"></td>
                                    <td th:utext="${currentUser.username}"></td>
                                    <td>
                                    <span th:each="role: ${currentUser.authorities}">
                                        <span th:text="${role.authority}"/>
                                    </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>